body {
	background: #232323;
}

h1, span {
	color: white;
}

.container{
	margin: 0 30%;
	max-height: 600px;
}

.square {
	width: 30%;
	background: purple;
	padding-bottom: 30%;
	float: left;
	margin: 1.66%;
}
